<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TVPEDIA</title>
  </head>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
    crossorigin="anonymous"
  />
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/>
  <link rel="stylesheet" href="/stylesheets/home.css" />
  <body>
    <header class="header">
      <div class="container">
        <nav class="main-nav">
          <h1 class="logo">TVPEDIA</h1>
          <a class="nav-link btn btn-primary" href="#">Sign Up</a>
        </nav>
      </div>
      <div class="header-text-flex">
        <div class="header-text">
          <h1 class="animate__animated animate__flash">Welcome to TVpedia!</h1>
          <p>
            Search for unlimited movies of your choice, anywhere anytime <br />
            and get yourself up to date with your favourite movies
          </p>
        </div>
        <form class="header-form" action="/search" method="POST">
          <div class="input-group mb-2">
            <input
              type="search"
              name="movie"
              class="form-control"
              placeholder="Search over 1000 movies"
              aria-label="Recipient's username"
              aria-describedby="basic-addon2"
            />
            <button class="input-group-text" id="basic-addon2">Search</button>
          </div>
        </form>
      </div>
    </header>

    <main>
     
    </main>

    <footer>
      <p>&copy; 2022 Created by Chigboo Goodluck</p>
    </footer>
 
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
      crossorigin="anonymous"
    ></script>
    <script src="../app.js"></script>
  </body>
</html>
